header
	.header-wrapper
		.top-line
			.container
				.top-line__wrap
					.phone
						img(src="static/img/general/phone-icon.png", alt="")
						a(href="tel:+73822716701") + 7 (3822) <span class="red">71-67-01</span>
					button.button.button--black.open_modal(href="#modal1") 
						span Обратный звонок
		.navigation
			.container
				.main-nav__wrap
					a.logo(href="")
						img(src="static/img/general/logo.png", alt="")
					ul.main-nav
						li
							a(href="") Главная
						li
							a(href="") О компании
						li
							a(href="") Продукция
						li
							a(href="") Калькулятор
						li
							a(href="") Доставка
						li
							a(href="") Вакансии
						li
							a(href="") Контакты
						button.close
							img(src="static/img/general/close.png", alt="")
					button.mobile-mnu
						img(src="static/img/general/hamburger.png", alt="")

