.production-greed
    .production-greed__item
        a(href="").product-box
            .product-box__info
                .product-box__title 
                    <span>Песчано-гравийная смесь (ПГС)</span>
                    ul.product-box__list
                        li ГОСТ 31424-2010
                        li Модуль крупности – 3-5;
                        li Насыпная плотность – 1320 кг/м<sup>3</sup>
                .product-box__price <span>175 руб./т.,</span> (305 руб./м<sup>3</sup>)
            .product-box__img
                img(src="static/img/content/product-img-1.png", alt="")
    .production-greed__item
        a(href="").product-box
            .product-box__info
                .product-box__title 
                    <span>Песчано-гравийная смесь (ПГС)</span>
                    ul.product-box__list
                        li ГОСТ 31424-2010
                        li Модуль крупности – 3-5;
                        li Насыпная плотность – 1320 кг/м<sup>3</sup>
                .product-box__price <span>175 руб./т.,</span> (305 руб./м<sup>3</sup>)
            .product-box__img
                img(src="static/img/content/product-img-1.png", alt="")
    .production-greed__item
        a(href="").product-box
            .product-box__info
                .product-box__title 
                    <span>Песчано-гравийная смесь (ПГС)</span>
                    ul.product-box__list
                        li ГОСТ 31424-2010
                        li Модуль крупности – 3-5;
                        li Насыпная плотность – 1320 кг/м<sup>3</sup>
                .product-box__price <span>175 руб./т.,</span> (305 руб./м<sup>3</sup>)
            .product-box__img
                img(src="static/img/content/product-img-1.png", alt="")
    .production-greed__item
        a(href="").product-box
            .product-box__info
                .product-box__title 
                    <span>Песчано-гравийная смесь (ПГС)</span>
                    ul.product-box__list
                        li ГОСТ 31424-2010
                        li Модуль крупности – 3-5;
                        li Насыпная плотность – 1320 кг/м<sup>3</sup>
                .product-box__price <span>175 руб./т.,</span> (305 руб./м<sup>3</sup>)
            .product-box__img
                img(src="static/img/content/product-img-1.png", alt="")
    .production-greed__item
        a(href="").product-box
            .product-box__info
                .product-box__title 
                    <span>Песчано-гравийная смесь (ПГС)</span>
                    ul.product-box__list
                        li ГОСТ 31424-2010
                        li Модуль крупности – 3-5;
                        li Насыпная плотность – 1320 кг/м<sup>3</sup>
                .product-box__price <span>175 руб./т.,</span> (305 руб./м<sup>3</sup>)
            .product-box__img
                img(src="static/img/content/product-img-1.png", alt="")
    .production-greed__item
        a(href="").product-box
            .product-box__info
                .product-box__title 
                    <span>Песчано-гравийная смесь (ПГС)</span>
                    ul.product-box__list
                        li ГОСТ 31424-2010
                        li Модуль крупности – 3-5;
                        li Насыпная плотность – 1320 кг/м<sup>3</sup>
                .product-box__price <span>175 руб./т.,</span> (305 руб./м<sup>3</sup>)
            .product-box__img
                img(src="static/img/content/product-img-1.png", alt="")
    .production-greed__item
        a(href="").product-box
            .product-box__info
                .product-box__title 
                    <span>Песчано-гравийная смесь (ПГС)</span>
                    ul.product-box__list
                        li ГОСТ 31424-2010
                        li Модуль крупности – 3-5;
                        li Насыпная плотность – 1320 кг/м<sup>3</sup>
                .product-box__price <span>175 руб./т.,</span> (305 руб./м<sup>3</sup>)
            .product-box__img
                img(src="static/img/content/product-img-1.png", alt="")
    .production-greed__item
        a(href="").product-box
            .product-box__info
                .product-box__title 
                    <span>Песчано-гравийная смесь (ПГС)</span>
                    ul.product-box__list
                        li ГОСТ 31424-2010
                        li Модуль крупности – 3-5;
                        li Насыпная плотность – 1320 кг/м<sup>3</sup>
                .product-box__price <span>175 руб./т.,</span> (305 руб./м<sup>3</sup>)
            .product-box__img
                img(src="static/img/content/product-img-1.png", alt="")