.buy-page .way-nav
    border-bottom 1px solid #eaeaea
    margin-bottom 30px
.buy-page .footer__recommendation
    display: none
.buy-title
    font-weight 400
    font-size rem(30px)
    color: #191919
    margin-bottom 30px


.buy-date__title
    font-size rem(14px)
    text-transform uppercase
    font-weight 700
    color: #000
    margin-bottom rem(24px)




.choice-location
    padding: 60px 0px 80px


#calendar
    margin-bottom 25px

.buy-price__title 
    font-size rem(18px)
    font-weight 700
    color: #191919
    margin-bottom 35px
.buy-rates
    margin-bottom 35px
    .rates__title
        font-size rem(18px)
        text-transform uppercase
        font-weight 700
        color: #191919
        margin-bottom 15px
    .rates__places
        font-size rem(18px)
        font-weight 700
        color: #191919
        margin-bottom 40px
    .rates__list
        li
            font-size rem(18px)
            line-height rem(32px)
            font-weight 400



.buy-warning
    display: flex
    flex-wrap: wrap
    align-items center
    .buy-warning__title 
        font-size rem(18px)
        font-weight 700
        color: #191919
        margin-right 20px
        padding: 15px 0px;
    .enter-or-reg
        width: 350px
        display: flex
        flex-wrap: wrap
        justify-content space-between
        align-items: center
.choice-location
    img 
        max-width: 100%





// adaptability
// @media only screen and (max-width : 1200px) 

// @media only screen and (max-width : 992px) 
// @media only screen and (max-width : 720px) 

// @media only screen and (max-width : 576px)

// @media only screen and (min-width : 1200px)