footer
    .footer__recommendation
        .container 
            h2.title Нас рекомендуют
            .recommedation-slider.owl-carousel
                .recommedation-slider__item
                    a(href="")
                        img(src="static/img/content/recommendation-logo-1.png", alt="")
                .recommedation-slider__item
                    a(href="")
                        img(src="static/img/content/recommendation-logo-2.png", alt="")
                .recommedation-slider__item
                    a(href="")
                        img(src="static/img/content/recommendation-logo-3.png", alt="")
                .recommedation-slider__item
                    a(href="")
                        img(src="static/img/content/recommendation-logo-4.png", alt="")
                .recommedation-slider__item
                    a(href="")
                        img(src="static/img/content/recommendation-logo-1.png", alt="")
                .recommedation-slider__item
                    a(href="")
                        img(src="static/img/content/recommendation-logo-2.png", alt="")
    .footer__links
        .container
            .row
                .col-lg-3.col-md-4
                    a(href="www.astra-marine.ru") www.astra-marine.ru
                .col-lg-3.col-md-4
                    a(href="peterhof-express.ru") peterhof-express.ru
                .col-lg-3.col-md-4
                    a(href="restoflot.ru") restoflot.ru
    .footer__nav-wrap
        .container
            .row
                .col-sm-6.col-lg
                    ul.footer__contacts  
                        li
                            a(href="tel:+78124261717") +7 (812) 426-17-17
                        li
                            a(href="tel:+78126470017") +7 (812) 647-00-17
                        li
                            a(href="mailto:booking@astra-marine.ru") booking@astra-marine.ru
                .col-sm-6.col-lg
                    ul.footer__nav
                        li
                            a(href="") Аренда теплохода
                        li
                            a(href="") О нас
                        li
                            a(href="") Контакты
                        li
                            a(href="") Вакансии
                        li
                            a(href="") Сотрудничество
                .col-sm-6.col-lg
                    ul.footer__event
                        li
                            a(href="") Экскурсии для тургрупп
                        li
                            a(href="") Партнёрские программы
                        li
                            a(href="") Ресторан "Астра"
                        li
                            a(href="") Ночь на Неве
                        li
                            a(href="") Романтическая ночь
                        li
                            a(href="") Экскурсии по неве
                .col-sm-6.col-lg
                    ul.footer__event
                        li
                            a(href="") Экскурсии для школьников
                        li
                            a(href="") Прогулки для двоих по Неве
                        li
                            a(href="") Шоу программы и праздники на реке Неве
                        li
                            a(href="") Парадный Петербург с выходом в Финский залив
                        li
                            a(href="") Северные острова дельты Невы
                        li
                            a(href="") Экскурсии по рекам и каналам Петербурга
    .footer__info
        .container
            .row
                .col-sm-6.col-lg-2
                    .footer__social
                        .title Мы в соцсетях
                        a.vk(href="")
                        a.inst(href="")
                        a.fb(href="")
                        a.fl(href="")
                        a.yt(href="")
                .col-sm-6.col-lg-3
                    .footer__payments
                        .title Мы принимаем
                        a(href="")
                            img(src="static/img/general/payment-mastercard.png", alt="")
                        a(href="")
                            img(src="static/img/general/payment-visa.png", alt="")
                        a(href="")
                            img(src="static/img/general/payment-mir.png", alt="")