header
    .header__top-line-wrap
        .container
            .header__top-line
                a.header__logo
                    img.big(src="static/img/general/logo.png", alt="")
                    img.smoll(src="static/img/general/logo-smoll.png", alt="")
                

                .top-line__right
                    .header__contacts.hidden-xs-down
                        a.header__phone(href="tel:88124261717") 8 (812) 426 17 17
                        a.header__mail(href="mailto:booking@astra-marine.ru") booking@astra-marine.ru
                    button.button.open_modal.hidden-xs-down(href="#authorization") войти

                    //- .header__language-button--en
                    button.header__language-button.header__language-button--ru

                    button.mobile-mnu
                        <i class="fas fa-bars"></i>
    .header__mob-line
        .container
            .header__mob-line-wrap
                .header__contacts
                    a.header__phone(href="tel:88124261717") 8 (812) 426 17 17
                    a.header__mail(href="mailto:booking@astra-marine.ru") booking@astra-marine.ru
                //- .header__language-button--en
                button.button.open_modal(href="#authorization") войти
    .header__nav-wrap
        .container
            ul.header__nav
                li
                    a(href="") Расписание
                li
                    a(href="") музыкальные круизы
                li
                    a(href="") метеоры в петергоф
                li
                    a(href="") экскурсионные круизы
                li
                    a(href="") по рекам и каналам
                li
                    a(href="") рестораны на воде
                li
                    a(href="") разводные мосты
                li
                    a(href="") экскурси и музеи
        