section.tour-selection
    .tour-selection__top
        .container
            .tour-selection__top-wrap
                h2.tour-selection__title выберите ваш тур
                .tour-selection__nav.tabs
                    .tour-selection__choice.tab.active
                        img.inormal(src="static/img/general/tour-cruise.png", alt="")
                        img.iactive(src="static/img/general/tour-cruise-blue.png", alt="")
                        span Круиз
                    .tour-selection__choice.tab
                        img.inormal(src="static/img/general/tour-bus.png", alt="")
                        img.iactive(src="static/img/general/tour-bus-blue.png", alt="")
                        span Автобус
                    .tour-selection__choice.tab
                        img.inormal(src="static/img/general/tour-meteor.png", alt="")
                        img.iactive(src="static/img/general/tour-meteor-blue.png", alt="")
                        span Метеор
                form.tour-selection__search(action="")
                    input#datepicker(type="text" placeholder="Дата")
                    input(type="submit" value=" ")     
    .tour-selection__content
        .container
            .tour-selection__sked.tab_content
                .tab_item
                    .tour-selection__point.sked-title
                        .tour-selection__time Время
                        .tour-selection__way Направление
                        .tour-selection__duration Продолжительность
                        .tour-selection__place Место отправления
                    #accordion
                        .tour-selection__point.accordion-title 
                            .tour-selection__time.submti <span class="mob-title">Время</span> 13:00
                            .tour-selection__way.submti <span class="mob-title">Направление</span> City Sightseeing: обзорная автобусная экскурсия
                            .tour-selection__duration.submti <span class="mob-title">Продолжительность</span> 1 ч. 30 мин.
                            .tour-selection__place.submti <span class="mob-title">Место отправления</span> Адмиралтейская наб, 2 | Admiralty emb, 2
                        .accordion-cont
                            .tour-selection__price
                                .title Цены on-line билетов для резидентов РФ:
                                ul.day-list
                                    li.title 1 День
                                    li Полный - 900руб
                                    li Льготный- 700 руб
                                    li Детский -   500руб
                                ul.day-list
                                    li.title 1 День
                                    li Полный - 900руб
                                    li Льготный- 700 руб
                                    li Детский -   500руб
                                .tour-selection__tel 
                                    .tel ТЕЛЕФОН ДЛЯ СПРАВОК: <a href="tel:9895533">989-55-33</a>
                                    button.tour-selection_buybutton купить
                        .tour-selection__point.accordion-title 
                            .tour-selection__time.submti <span class="mob-title">Время</span> 13:00
                            .tour-selection__way.submti <span class="mob-title">Направление</span> City Sightseeing: обзорная автобусная экскурсия
                            .tour-selection__duration.submti <span class="mob-title">Продолжительность</span> 1 ч. 30 мин.
                            .tour-selection__place.submti <span class="mob-title">Место отправления</span> Адмиралтейская наб, 2 | Admiralty emb, 2
                        .accordion-cont
                            .tour-selection__price
                                .title Цены on-line билетов для резидентов РФ:
                                ul.day-list
                                    li.title 1 День
                                    li Полный - 900руб
                                    li Льготный- 700 руб
                                    li Детский -   500руб
                                ul.day-list
                                    li.title 1 День
                                    li Полный - 900руб
                                    li Льготный- 700 руб
                                    li Детский -   500руб
                                .tour-selection__tel 
                                    .tel ТЕЛЕФОН ДЛЯ СПРАВОК: <a href="tel:9895533">989-55-33</a>
                                    button.tour-selection_buybutton купить
                        .tour-selection__point.accordion-title 
                            .tour-selection__time.submti <span class="mob-title">Время</span> 13:00
                            .tour-selection__way.submti <span class="mob-title">Направление</span> City Sightseeing: обзорная автобусная экскурсия
                            .tour-selection__duration.submti <span class="mob-title">Продолжительность</span> 1 ч. 30 мин.
                            .tour-selection__place.submti <span class="mob-title">Место отправления</span> Адмиралтейская наб, 2 | Admiralty emb, 2
                        .accordion-cont
                            .tour-selection__price
                                .title Цены on-line билетов для резидентов РФ:
                                ul.day-list
                                    li.title 1 День
                                    li Полный - 900руб
                                    li Льготный- 700 руб
                                    li Детский -   500руб
                                ul.day-list
                                    li.title 1 День
                                    li Полный - 900руб
                                    li Льготный- 700 руб
                                    li Детский -   500руб
                                .tour-selection__tel 
                                    .tel ТЕЛЕФОН ДЛЯ СПРАВОК: <a href="tel:9895533">989-55-33</a>
                                    button.tour-selection_buybutton купить
                        .tour-selection__point.accordion-title 
                            .tour-selection__time.submti <span class="mob-title">Время</span> 13:00
                            .tour-selection__way.submti <span class="mob-title">Направление</span> City Sightseeing: обзорная автобусная экскурсия
                            .tour-selection__duration.submti <span class="mob-title">Продолжительность</span> 1 ч. 30 мин.
                            .tour-selection__place.submti <span class="mob-title">Место отправления</span> Адмиралтейская наб, 2 | Admiralty emb, 2
                        .accordion-cont
                            .tour-selection__price
                                .title Цены on-line билетов для резидентов РФ:
                                ul.day-list
                                    li.title 1 День
                                    li Полный - 900руб
                                    li Льготный- 700 руб
                                    li Детский -   500руб
                                ul.day-list
                                    li.title 1 День
                                    li Полный - 900руб
                                    li Льготный- 700 руб
                                    li Детский -   500руб
                                .tour-selection__tel 
                                    .tel ТЕЛЕФОН ДЛЯ СПРАВОК: <a href="tel:9895533">989-55-33</a>
                                    button.tour-selection_buybutton купить
                .tab_item
                    .tour-selection__point.sked-title
                        .tour-selection__time Время
                        .tour-selection__way Направление
                        .tour-selection__duration Продолжительность
                        .tour-selection__place Место отправления
                    #accordion
                        .tour-selection__point.accordion-title 
                            .tour-selection__time.submti <span class="mob-title">Время</span> 13:00
                            .tour-selection__way.submti <span class="mob-title">Направление</span> City Sightseeing: обзорная автобусная экскурсия
                            .tour-selection__duration.submti <span class="mob-title">Продолжительность</span> 1 ч. 30 мин.
                            .tour-selection__place.submti <span class="mob-title">Место отправления</span> Адмиралтейская наб, 2 | Admiralty emb, 2
                        .accordion-cont
                            .tour-selection__price
                                .title Цены on-line билетов для резидентов РФ:
                                ul.day-list
                                    li.title 1 День
                                    li Полный - 900руб
                                    li Льготный- 700 руб
                                    li Детский -   500руб
                                ul.day-list
                                    li.title 1 День
                                    li Полный - 900руб
                                    li Льготный- 700 руб
                                    li Детский -   500руб
                                .tour-selection__tel 
                                    .tel ТЕЛЕФОН ДЛЯ СПРАВОК: <a href="tel:9895533">989-55-33</a>
                                    button.tour-selection_buybutton купить
                        .tour-selection__point.accordion-title 
                            .tour-selection__time.submti <span class="mob-title">Время</span> 13:00
                            .tour-selection__way.submti <span class="mob-title">Направление</span> City Sightseeing: обзорная автобусная экскурсия
                            .tour-selection__duration.submti <span class="mob-title">Продолжительность</span> 1 ч. 30 мин.
                            .tour-selection__place.submti <span class="mob-title">Место отправления</span> Адмиралтейская наб, 2 | Admiralty emb, 2
                        .accordion-cont
                            .tour-selection__price
                                .title Цены on-line билетов для резидентов РФ:
                                ul.day-list
                                    li.title 1 День
                                    li Полный - 900руб
                                    li Льготный- 700 руб
                                    li Детский -   500руб
                                ul.day-list
                                    li.title 1 День
                                    li Полный - 900руб
                                    li Льготный- 700 руб
                                    li Детский -   500руб
                                .tour-selection__tel 
                                    .tel ТЕЛЕФОН ДЛЯ СПРАВОК: <a href="tel:9895533">989-55-33</a>
                                    button.tour-selection_buybutton купить
                        .tour-selection__point.accordion-title 
                            .tour-selection__time.submti <span class="mob-title">Время</span> 13:00
                            .tour-selection__way.submti <span class="mob-title">Направление</span> City Sightseeing: обзорная автобусная экскурсия
                            .tour-selection__duration.submti <span class="mob-title">Продолжительность</span> 1 ч. 30 мин.
                            .tour-selection__place.submti <span class="mob-title">Место отправления</span> Адмиралтейская наб, 2 | Admiralty emb, 2
                        .accordion-cont
                            .tour-selection__price
                                .title Цены on-line билетов для резидентов РФ:
                                ul.day-list
                                    li.title 1 День
                                    li Полный - 900руб
                                    li Льготный- 700 руб
                                    li Детский -   500руб
                                ul.day-list
                                    li.title 1 День
                                    li Полный - 900руб
                                    li Льготный- 700 руб
                                    li Детский -   500руб
                                .tour-selection__tel 
                                    .tel ТЕЛЕФОН ДЛЯ СПРАВОК: <a href="tel:9895533">989-55-33</a>
                                    button.tour-selection_buybutton купить
                .tab_item
                    .tour-selection__point.sked-title
                        .tour-selection__time Время
                        .tour-selection__way Направление
                        .tour-selection__duration Продолжительность
                        .tour-selection__place Место отправления
                    #accordion
                        .tour-selection__point.accordion-title 
                            .tour-selection__time.submti <span class="mob-title">Время</span> 13:00
                            .tour-selection__way.submti <span class="mob-title">Направление</span> City Sightseeing: обзорная автобусная экскурсия
                            .tour-selection__duration.submti <span class="mob-title">Продолжительность</span> 1 ч. 30 мин.
                            .tour-selection__place.submti <span class="mob-title">Место отправления</span> Адмиралтейская наб, 2 | Admiralty emb, 2
                        .accordion-cont
                            .tour-selection__price
                                .title Цены on-line билетов для резидентов РФ:
                                ul.day-list
                                    li.title 1 День
                                    li Полный - 900руб
                                    li Льготный- 700 руб
                                    li Детский -   500руб
                                ul.day-list
                                    li.title 1 День
                                    li Полный - 900руб
                                    li Льготный- 700 руб
                                    li Детский -   500руб
                                .tour-selection__tel 
                                    .tel ТЕЛЕФОН ДЛЯ СПРАВОК: <a href="tel:9895533">989-55-33</a>
                                    button.tour-selection_buybutton купить
                        .tour-selection__point.accordion-title 
                            .tour-selection__time.submti <span class="mob-title">Время</span> 13:00
                            .tour-selection__way.submti <span class="mob-title">Направление</span> City Sightseeing: обзорная автобусная экскурсия
                            .tour-selection__duration.submti <span class="mob-title">Продолжительность</span> 1 ч. 30 мин.
                            .tour-selection__place.submti <span class="mob-title">Место отправления</span> Адмиралтейская наб, 2 | Admiralty emb, 2
                        .accordion-cont
                            .tour-selection__price
                                .title Цены on-line билетов для резидентов РФ:
                                ul.day-list
                                    li.title 1 День
                                    li Полный - 900руб
                                    li Льготный- 700 руб
                                    li Детский -   500руб
                                ul.day-list
                                    li.title 1 День
                                    li Полный - 900руб
                                    li Льготный- 700 руб
                                    li Детский -   500руб
                                .tour-selection__tel 
                                    .tel ТЕЛЕФОН ДЛЯ СПРАВОК: <a href="tel:9895533">989-55-33</a>
                                    button.tour-selection_buybutton купить