.contacts-page
    background-image url(../img/general/background.png)
    .content
        padding: 130px 0px 50px



.contacts-content
    margin-bottom 50px
    h2
        margin-bottom rem(60px)
    .contacts__list
        li
            display flex
            align-items center
            font-weight 400
            font-size rem(30px)
            color: #728392
            padding: 6px 0px
            .icon
                flex-shrink: 0
                size: 40px
                margin-right 10px
                img 
                    width 100%
                    height 100%
            .contacts__phone
                color: #728392
            .red
                color: #b8311b
                font-weight 700


.map-content__wrap
    display: flex
    flex-wrap: wrap
    justify-content space-between
    .map-item
        .map-item__title
            font-size rem(30px)
            font-weight 400
            color:  #000
            margin-bottom rem(20px)
        .map-item__box
            position relative
            width: 565px
            height 565px
            background-color #fff
            margin-bottom: 50px
            .ymap
                absolute-center()
                padding: 0
                margin: 0
                width: calc(100% - 36px)
                height: calc(100% - 36px)  



// Adaptability
// Large Devices, Wide Screens
@media only screen and (max-width : 1230px) {
    .map-content__wrap .map-item .map-item__box {
        
    }
    .map-content__wrap .map-item .map-item__box {
        size: 450px    
    }
}
// Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .map-content__wrap .map-item {
        width 100%    
    }
    .map-content__wrap .map-item .map-item__box {
        width 100%   
    }
}
// Small Devices, Tablets
@media only screen and (max-width : 768px) {
    .contacts-page .content {
        padding: 50px 0px 50px
    }   
    .contacts-content .contacts__list li {
        font-size: 1.5rem;
    }
}
// Extra Small Devices, Phones
@media only screen and (max-width : 576px) {
    .contacts-content .contacts__list li {
        font-size: 1rem;
    }
    .map-content__wrap .map-item .map-item__box {
        height 290px  
    }
    .contacts-content h2 {
        margin-bottom 2rem
    }
}