.header__btn
    display: none
    background: transparent
    border: none
    font-size: 26px
    color: #fff
@media only screen and (max-width : 768px) {
    .header__btn {
        display: block
    }
}