extends ../layout/main

block variables
	- var title = 'Аренда теплохода'
	- var pageClass = 'lease-page'

block content

	.container
		ul.way-nav
			li
				a(href="index.html") Главная 
			li.active
				a(href="") Аренда теплохода
		h1.lease__title Аренда теплохода


		.lease-cont
			.row
				.col-sm-9
					h2.lease__subtitle Любой из теплоходов флотилии "Астра Марин" вы можете взять в аренду для проведения вашего персонального мероприятия на теплоходе:

					ul.lease__list
						li банкет/фуршет на теплоходе
						li свадьба на теплоходе
						li корпоратив на теплоходе
						li выпускной на теплоходе
						li детский праздник на теплоходе
						li деловая встреча / переговоры на теплоходе
						li день рождения / юбилей на теплоходе

					p.lease__text Узнать стоимость и условия аренды теплоходов, оставить заявку, а так же обсудить индивидуальные условия <br>организации вашего праздника на теплоходе вы можете с менеджерами арендного отдела ГК "Астра Марин": <br>Думаете, где отдохнуть с друзьями? <br>Хотите интересно отметить годовщину с любимым? <br>Пригласить партнеров на бизнес-встречу? <br>Или может быть отметить день рождения в небольшой компании?

					img.lease__img(src="static/img/general/lease-page-img.png", alt="")
				.col-sm-3.hidden-xs
					aside.lease-banner
						a(href="")
							img(src="static/img/content/lease__banner.png", alt="")


		h3.lease__how Как это работает:

		ul.lease__list
			li Вы покупаете билеты (со скидкой!) в нашем интернет-магазине www.BoatTrip.ru
			li Вы звоните в офис и оставляете заявку на мини-банкет*. Мы связываемся с вами для уточнения нюансов.
			li В день мероприятия мы организуем для вас красивый и запоминающийся мини-банкет на наших круизах. Отдельная VIP-зона, точное время отправления, захватывающие факты истории Петербурга или мелодичное музыкальное сопровождение придадут поездке незабываемый шарм, а парадные виды Невы – станут самой лучшей площадкой! Не надо приглашать ведущего, и ломать голову над тем, как развлечь гостей – во время торжества вас будет сопровождать живая музыка, ненавязчивое экскурсионное сопровождение, а обзорная площадка на открытой палубе будет к вашим услугам.
			li Ваш праздник не ограничен по времени: вы можете продолжать отдыхать, пока не надоест! Это удивительное водное путешествие  «в петербургском стиле» надолго запомнится вам и вашим гостям.