extends ../layout/main

block variables
	- var title = 'Музыкальные круизы'
	- var pageClass = 'Musical-cruises'



block content
	section.musical-about
		.container
			ul.way-nav
				li
					a(href="index.html") Главная 
				li.active
					a(href="") Музыкальные круизы
			h1.musical-about__title МУЗЫКАЛЬНЫЕ КРУИЗЫ
			.musical-about__text Музыкальные круизы по Неве - отличная возможность провести вечер в истинно петербургском стиле на теплоходе-ресторане! Мы предалагаем вам разнообразную программу музыкально-развлекательных программ на наших теплоходах - ночные круизы под разводными мостами под саксофон или рояль, джазовые концерты на пароход "City Blues" и ужин-круизы в сопровождении живой музыки.
			button.musical-about__button все туры списком
	section.cruises
		.container
			.row
				.col-lg-4
					.cruises-box
						.cruises-box__img
							img(src="static/img/content/cruises-box-img-1.png", alt="")
							.cruises-box__price 
								span от<br/>280руб.
						.cruises-box__info
							.cruises-box__description 9 мая: Праздничный рейс во время салюта!
							.cruises-box__time 
								<i class="far fa-clock"></i>
								span 1 ч. 30' / 2ч.
							.cruises-box__icons
								<i class="fas fa-music"></i>
								<i class="fas fa-headphones"></i>
								<i class="fas fa-coffee"></i>
								<i class="fas fa-glass-martini"></i>
							.cruises-box__text Вы совершите путешествие по водным просторам Северной столицы и станете свидетелями праздничного салюта на Неве в честь дня Великой Победы!
						button.cruises-box__button купить
				.col-lg-4
					.cruises-box
						.cruises-box__img
							img(src="static/img/content/cruises-box-img-1.png", alt="")
							.cruises-box__price 
								span от<br/>280руб.
						.cruises-box__info
							.cruises-box__description 9 мая: Праздничный рейс во время салюта!
							.cruises-box__time 
								<i class="far fa-clock"></i>
								span 1 ч. 30' / 2ч.
							.cruises-box__icons
								<i class="fas fa-music"></i>
								<i class="fas fa-headphones"></i>
								<i class="fas fa-coffee"></i>
								<i class="fas fa-glass-martini"></i>
							.cruises-box__text Вы совершите путешествие по водным просторам Северной столицы и станете свидетелями праздничного салюта на Неве в честь дня Великой Победы!
						button.cruises-box__button купить
				.col-lg-4
					.cruises-box
						.cruises-box__img
							img(src="static/img/content/cruises-box-img-1.png", alt="")
							.cruises-box__price 
								span от<br/>280руб.
						.cruises-box__info
							.cruises-box__description 9 мая: Праздничный рейс во время салюта!
							.cruises-box__time 
								<i class="far fa-clock"></i>
								span 1 ч. 30' / 2ч.
							.cruises-box__icons
								<i class="fas fa-music"></i>
								<i class="fas fa-headphones"></i>
								<i class="fas fa-coffee"></i>
								<i class="fas fa-glass-martini"></i>
							.cruises-box__text Вы совершите путешествие по водным просторам Северной столицы и станете свидетелями праздничного салюта на Неве в честь дня Великой Победы!
						button.cruises-box__button купить
				.col-lg-4
					.cruises-box
						.cruises-box__img
							img(src="static/img/content/cruises-box-img-1.png", alt="")
							.cruises-box__price 
								span от<br/>280руб.
						.cruises-box__info
							.cruises-box__description 9 мая: Праздничный рейс во время салюта!
							.cruises-box__time 
								<i class="far fa-clock"></i>
								span 1 ч. 30' / 2ч.
							.cruises-box__icons
								<i class="fas fa-music"></i>
								<i class="fas fa-headphones"></i>
								<i class="fas fa-coffee"></i>
								<i class="fas fa-glass-martini"></i>
							.cruises-box__text Вы совершите путешествие по водным просторам Северной столицы и станете свидетелями праздничного салюта на Неве в честь дня Великой Победы!
						button.cruises-box__button купить
				.col-lg-4
					.cruises-box
						.cruises-box__img
							img(src="static/img/content/cruises-box-img-1.png", alt="")
							.cruises-box__price 
								span от<br/>280руб.
						.cruises-box__info
							.cruises-box__description 9 мая: Праздничный рейс во время салюта!
							.cruises-box__time 
								<i class="far fa-clock"></i>
								span 1 ч. 30' / 2ч.
							.cruises-box__icons
								<i class="fas fa-music"></i>
								<i class="fas fa-headphones"></i>
								<i class="fas fa-coffee"></i>
								<i class="fas fa-glass-martini"></i>
							.cruises-box__text Вы совершите путешествие по водным просторам Северной столицы и станете свидетелями праздничного салюта на Неве в честь дня Великой Победы!
						button.cruises-box__button купить
				.col-lg-4
					.cruises-box
						.cruises-box__img
							img(src="static/img/content/cruises-box-img-1.png", alt="")
							.cruises-box__price 
								span от<br/>280руб.
						.cruises-box__info
							.cruises-box__description 9 мая: Праздничный рейс во время салюта!
							.cruises-box__time 
								<i class="far fa-clock"></i>
								span 1 ч. 30' / 2ч.
							.cruises-box__icons
								<i class="fas fa-music"></i>
								<i class="fas fa-headphones"></i>
								<i class="fas fa-coffee"></i>
								<i class="fas fa-glass-martini"></i>
							.cruises-box__text Вы совершите путешествие по водным просторам Северной столицы и станете свидетелями праздничного салюта на Неве в честь дня Великой Победы!
						button.cruises-box__button купить
	//- Расписание
	include ../modules/schedule.pug

	


	