.production-page-container
    padding: 130px 0px 65px
    background url(../img/general/background.png)
    h2
        margin-bottom rem(55px)


@media only screen and (max-width : 1230px) {

}
// Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}
// Small Devices, Tablets
@media only screen and (max-width : 768px) {
    .production-page-container {
        padding: 50px 0px 65px
    }
}
// Extra Small Devices, Phones
@media only screen and (max-width : 576px) {
    .production-page-container h2 {
        margin-bottom 2rem
    }
}