.text-page
    background url(../img/general/background.png)
.text-content
    padding: 130px 0px 90px
    h2
        margin-bottom rem(55px)


        
@media only screen and (max-width : 768px) {
    .text-content {
        padding: 50px 0px
    }
}    
@media only screen and (max-width : 576px) {
    .text-content h2 {
        margin-bottom: 2rem;
    }
}
