h2
    font-weight 400
    font-size rem(60px)
    color: #b8311b
    line-height: 1

h3
    font-weight 400
    font-size rem(48px)
    color: #b8311b

p
    font-weight 300
    font-size rem(18px)
    color: #000000
    line-height rem(30px)
    margin-bottom: rem(40px)!important

// Adaptability
// Large Devices, Wide Screens
@media only screen and (max-width : 1230px) {

}
// Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}
// Small Devices, Tablets
@media only screen and (max-width : 768px) {

}
// Extra Small Devices, Phones
@media only screen and (max-width : 576px) {
    h2 {
        font-size rem(30px)
    }
    p {
        font-size 1rem
    }
}
 // Large Devices, Wide Screens
@media only screen and (min-width : 1230px) {

}