
.lease-page .way-nav
    border-bottom 1px solid #eaeaea
    margin-bottom 30px


.lease__title
    font-weight 400
    font-size rem(30px)
    color: #000000
    margin-bottom rem(30px)

.lease__subtitle
    font-weight 400
    font-size rem(24px)
    color: #000000
    line-height rem(32px)
    margin-bottom rem(40px)




.lease__list
    margin-bottom 30px
    li
        position relative
        padding-left 20px
        font-weight 400
        font-size rem(14px)
        line-height rem(24px)
        &:before
            content: ""
            position absolute
            left: 5px
            top: 10px
            size: 5px
            background-color #52576a
            border-radius: 50%

.lease__text
    font-weight 400
    font-size rem(14px)
    line-height rem(24px)
    color: #000
    margin-bottom rem(35px)

.lease__img
    max-width 100%
    margin-bottom 20px



.lease__how
    font-weight 700
    font-size rem(14px)
    color: #000000
    margin-bottom 20px



.lease-page .footer__recommendation
    display: none




.lease-banner
    float: right
    img 
        max-width 100%


@media only screen and (max-width : 576px)
    .col-sm-3.hidden-xs
        display: none