.calculator
    display: flex
    flex-direction: column
    justify-content center
    align-items center
    .calculator__wrap
        display: flex
        flex-wrap: wrap
        .calculator__input-wrap
            display: flex
            flex-direction: column
            margin-bottom 44px
            .calculator__label
                font-weight 400
                font-size rem(20px)
                color: #92bed3
                margin-bottom rem(12px)
            .calculator__input
                font-family: 'Oswald', sans-serif
                height 44px
                border-radius: 4px
                border: none
                padding-left 13px
                padding-right 13px
                font-weight 400
                font-size 20px
.calculator__wrap.calculator__wrap--one
    width 100%
    justify-content space-between
    .calculator__input
        width 180px
.calculator__wrap.calculator__wrap--two
    .calculator__input-wrap
        margin-right 26px
        &:last-child
            margin-right 0
    .calculator__input
        width 286px
        



// calculator__output
.calculator__output
    display: flex
    flex-direction: column
    justify-content center
    align-items center
    max-width 790px
    width 100%
    margin: 0 auto 40px
    border: 2px solid #b8311b
    padding: 10px 15px
    .calculator__sum
        font-weight 400
        font-size rem(36px)
        color: #ffffff
        margin-bottom rem(10px)
        .red
            color: #b8311b
        sup
            font-size rem(18px)
    .calculator__total-sum
        font-weight 400
        font-size rem(24px)
        color: #ffffff
        .red
            color: #b8311b





// select


font-family: 'Oswald', sans-serif
                padding-left 132px
                padding-right 13px
                
                
                border: none
                

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
    cursor: pointer;
    display: inline-block;
    position: relative;

    
    width 560px;
    height 44px;

    color: #959595;
    font-size rem(20px)
}

.select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: #fff;
    border-radius: 4px;
    padding: 8px 13px;
}



.select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #959595 transparent transparent transparent;
  position: absolute;
  top: 20px;
  right: 10px;
}
// .select-styled:hover {
//   background-color: #b83729;
// }
.select-styled:active, .select-styled.active {
  color: #000
  border-radius: 4px 4px 0px 0px
}
.select-styled:active:after, .select-styled.active:after {
  top: 12px;
  border-color: transparent transparent #959595 transparent;
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
}
.select-options li {
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  border-top: 1px solid #eee;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
.select-options li:hover {
  color: #000;
  background: #fff;
}
.select-options li[rel="hide"] {
  display: none;
}
