// .header__language-button
.header__language-button
    cursor: pointer
    size 35px
    border-radius: 50%
    margin-left 15px
    border: 3px solid #fff
    background-position center
    background-size cover
    transition: .2s
    &:active
        transform: scale(0.97);
.header__language-button--ru
    background-image url(../img/general/lang-ru.png)
.header__language-button--en
    background-image url(../img/general/lang-en.png)
// .header__language-button


// .mobile-mnu
.mobile-mnu
    background transparent
    border: none 
    padding: 0
    margin-left 25px
    svg
        font-size 30px
        color: #fff
// .mobile-mnu

.button
    cursor pointer
    display block
    font-weight 300
    font-size rem(14px)
    color: #fff
    background-color #5191d9
    padding: 10px 27px
    border-radius: 18px
    border: none
    transition: 0.2s
    &:hover
        background-color #5faaff
        

.special-offer__button
    cursor pointer
    width 100%
    background-color #5b9de8
    color: #ffffff
    font-weight 700
    font-size rem(24px)
    text-transform uppercase
    text-align center
    padding: 16px 0px
    border: none
    transition: .3s
    &:hover
        background-color #5faaff

.content-section__button
    cursor pointer
    border: none
    border: 1px solid #5b9de8
    padding: 9px 20px;
    border-radius: 17px
    font-weight 400
    font-size rem(14px)
    text-transform uppercase
    color: #5b9de8
    background transparent
    transition: .3s
.content-section__button:hover
    background-color #5b9de8
    color: #fff

.musical-about__button
    cursor pointer
    text-align center
    font-weight 700
    text-transform uppercase
    font-size rem(14px)
    color: #f1f2f3
    border: none 
    border: 1px solid #f1f2f3
    background-color transparent
    padding: 8px 17px;
    border-radius: 16px
    transition: .3s
    &:hover
        background-color #fff
        color: #000

.cruises-box__button
    cursor pointer
    width 100%
    background-color #5b9de8
    color: #ffffff
    font-weight 700
    font-size rem(24px)
    text-transform uppercase
    text-align center
    padding: 16px 0px
    border: none
    transition: .3s
    &:hover
        background-color #5faaff

.gastranomic-route__button
    cursor pointer
    flex-shrink: 0
    border: none
    border: 1px solid #5b9de8
    padding: 9px 20px;
    border-radius: 17px
    font-weight 400
    font-size rem(14px)
    text-transform uppercase
    color: #5b9de8
    background transparent
    transition: .3s
    &:hover
        background-color #5b9de8
        color: #fff







.gastronomic-info__button
    cursor pointer
    background #5191d9
    padding: 9px 32px
    border-radius: 18px
    border: none
    font-weight 700
    text-transform uppercase
    font-size 14px
    color: #f1f2f3
    transition: .3s
    &:hover
        background-color #5faaff
.gastronomic-date__button
    cursor pointer
    background #5191d9
    padding: 9px 20px;
    border-radius: 18px
    border: none
    font-weight 700
    text-transform uppercase
    font-size 14px
    color: #f1f2f3
    transition: .3s
    &:hover
        background-color #5faaff







.modal-form__enter
    cursor pointer
    background-color #ee9b00
    padding: 12px 24px;
    border: none 
    border-radius: 19px
    text-transform uppercase
    color: #fff
    font-size 12px
    transition: .3s
    &:hover
        background-color #90c344


        
.modal-form__reg
    cursor pointer
    background-color transparent
    padding: 10px 36px;
    border: none 
    border: 1px solid #5d9adb
    border-radius: 19px
    text-transform uppercase
    font-size 12px
    color: #5d9adb
    transition: .3s
    &:hover
        background-color #5d9adb
        color: #fff














.choice-slider__day
    cursor pointer
    padding: 9px 25px;
    background #5191d9
    border: none
    border-radius: 17.5px
    color: #fff
    font-weight 300
    text-transform uppercase
    transition: .3s
    &:hover
        background-color #5faaff



.tour-selection_buybutton
    cursor pointer
    padding: 9px 25px;
    background #5191d9
    border: none
    border-radius: 17.5px
    color: #fff
    font-weight 300
    text-transform uppercase