
/* 

Description

	- header
	- why-choise
	- how-work
	- autopark
	- documents
	- work-with-us
	- reviews
	- question
	- footer

*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* main */
*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}
h1 {
	font-family: "AGLettericaCondensedC-Italic";
	text-transform: uppercase;
	text-align: center;
	font-size: 70px;
	color: #fff;
	text-shadow: black 0 0 5px;
}
h2 {
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	text-align: center;
	font-size: 50px;
	color: #fff;
	text-shadow: black 0 0 5px;
}
h3 {
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	text-align: center;
	font-size: 50px;
	color: #000;
	margin-bottom: 50px;
}
h3.white {
	color: #fff;
	text-shadow: black 0 0 5px;
}
.button {
	border: 1px solid #2b387f;
	text-transform: uppercase;
	outline: inherit;
	background-color: #2b387f;
	border-radius: 5px;
	padding: 11px 70px;
	font-family: 'PT Sans', sans-serif;
	line-height: 1.2;
	font-weight: 400;
	font-size: 16px;
	color: #fff;
	box-shadow: inset 0px 2px 3px 0px rgba(255, 255, 255, 0.3);
	transition: .3s;
}
.button:hover {
	
	background-color: #69cff7;
	color: #2b387f;
}
.btn-wrap {
	display: flex;
}
.btn-wrap .button {
	margin: auto;
}
.info-button {
	width: 31px;
	height: 31px;
	border: 2px solid #2b387f;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'PT Sans', sans-serif;
	font-size: 20px;
	color: #2b387f;
	outline: inherit;
	background-color:transparent;
}
.info-button span {
	position: relative;
	top: 2px;
}
section {
	padding: 70px 0px;
}
.right-wrap {
	display: flex;
	justify-content: flex-end;
}
/* main */


/* header */
.header {
	background-image: url(../img/header-bg.png);
	background-position: 50% 50%;
	background-size: cover;
}
.top-line {
	position: relative;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 30px 0px 20px;
}
.top-line__logo img {
	max-width: 100%;
}
.top-line__address {
	font-family: 'PT Sans', sans-serif;
	line-height: 1.2;
	font-weight: 400;
	font-size: 16px;
	color: #000;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.top-line__address img {
	margin-right: 4px;
}
.top-line__mail {
	font-family: 'PT Sans', sans-serif;
	line-height: 1.2;
	font-weight: 400;
	font-size: 20px;
	color: #2b387f;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
a.top-line__mail:focus,
a.top-line__mail:visited,
a.top-line__mail:hover {
	text-decoration: none;
}
.top-line__mail img {
	margin-top: 3px;
	margin-right: 4px;
}
.phone-wrap {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.top-line__phone {
	font-family: 'PT Sans', sans-serif;
	line-height: 1.2;
	font-weight: 700;
	font-size: 21px;
	color: #000;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	margin-bottom: 15px;
}
a.top-line__phone:focus,
a.top-line__phone:visited,
a.top-line__phone:hover {
	text-decoration: none;
	color: #000;
}
.top-line__phone img {
	margin-top: 3px;
	margin-right: 5px;
}
.buttom--smoll {
	max-width: 165px;
	padding: 7px 10px;
	width: 100%;
	font-size: 14px;
}
.header-content {
	padding: 110px 0px 70px;
}
.header-content h1 {
	margin-bottom: 40px;
}
.header-content h2 {
	margin-bottom: 90px;
}
.discount-form {
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid #fff;
	padding: 30px;
	width: 100%;
	min-height: 104px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.discount-form input {
	width: 100%;
	height: 43px;
	outline: inherit;
}
.discount-form span {
	width: 100%;
	margin-right: 30px;
}
.discount-form input[type="text"] {
	border: 1px solid #666666;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 25px;
	font-family: 'PT Sans', sans-serif;
	line-height: 1.2;
	font-weight: 400;
	font-size: 14px;
	box-shadow: inset 1px 1.732px 5px 0px rgba(0, 0, 0, 0.3);
}
.phone-input,
.user-input {
	position: relative;
}
.user-input:after {
	content: "";
	position: absolute;
	right: 10px;
	top: calc(50% - 8px);
	display: block;
	width: 14px;
	height: 14px;
	background-image: url(../img/user.png);
	background-size: contain;
}
.phone-input:after {
	content: "";
	position: absolute;
	right: 10px;
	top: calc(50% - 8px);
	display: block;
	width: 14px;
	height: 14px;
	background-image: url(../img/phone.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.button--form {
	padding: 0;
	width: 100px;
}

.mobile-mnu {
	display: none;
	padding: 0px 0px 15px;
	background-color: rgba(255, 255, 255, 0.8);
	position: absolute;
	width: 100%;
	bottom: -164px;;
	left: 0;
}
.mobile-mnu.active {
	display: block;
}
/* header */


/* why-choise */
.why-choise {
	min-height: 387px;
	padding-bottom: 20px;
}
.advantage {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 50px;
}
.advantage__img {
	display: flex;
	width: 75px;
	height: 60px;
	margin-right: 20px;
}
.advantage__img img {
	margin: auto;
}
.advantage__text {
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	line-height: 1.2;
	font-size: 19px;
	color: #000;
}
/* why-choise */

/* how-work */
.how-work {
	background-color: #b4e6f9;
}
.work-stage {
	min-height: 145px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 90px;
}
.work-stage__number {
	display: flex;
	width: 60px;
	height: 60px;
	background-color: #fff;
	border: 1px solid #2b387f;
	border-radius: 50%;
	margin-bottom: 20px;
}
.work-stage__number span {
	width: 52px;
	height: 52px;
	border: 1px solid #2b387f;
	border-radius: 50%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	font-size: 38px;
	color: #2b387f;
}
.work-stage__text {
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	font-weight: 400;
	line-height: 1.2;
	font-size: 18px;
	color: #000;
}

.right-arrow:after {
	content: "";
	position: absolute;
	top: 20px;
	right: -35px;
	display: block;
	width: 52px;
	height: 20px;
	background-image: url(../img/arrow.png);
	background-size: contain;
}
.bown-arrow:after {
	content: "";
	position: absolute;
	bottom: -55px;
    right: calc(50% - 25px);
	display: block;
	width: 52px;
	height: 20px;
	background-image: url(../img/arrow.png);
	background-size: contain;
	transform: rotate(90deg);
}
.left-arrow:after {
	content: "";
	position: absolute;
	left: -55px;
    top: calc(50% - 40px);
    display: block;
    width: 52px;
    height: 20px;
    background-image: url(../img/arrow.png);
    background-size: contain;
    transform: rotate(180deg);
}
/* how-work */

/* autopark */
.autopark {
	padding: 70px 0px 60px;
	color: #fff;
}
.auto {
	width: 100%;
	height: 251px;
	border: 1px solid #2b387f;
	border-radius: 5px;
	color: #000;
	display: flex;
	margin-bottom: 30px;
}
.auto__img {
	width: 50%;
	height: 100%;
}
.auto__img img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 5px 0px 0px 5px;
}
.auto__text {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.auto__text .title {
	max-width: 185px;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	line-height: 1.2;
	font-size: 20px;
	color: #000;
	margin-bottom: 15px;
}
.auto__text ul {
	max-width: 185px;
	max-width: 185px;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	line-height: 1.2;
	font-size: 16px;
	color: #000;
	margin-bottom: 15px;
}
/* autopark */

/* documents */
.documents {
	background-image: url(../img/document-bg.png);
	background-size: cover;
	background-position: 50% 50%;
}
.documents-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.document {
	background-color: rgba(105, 207, 247, 0.502);
	border-radius: 5px;
	border: 1px solid #2b387f;
	width: 356px;
	height: 106px;
	margin: 0px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 23px 34px;
}
a.document:focus,
a.document:hover,
a.document:visited {
	text-decoration: none;
	color: #fff;
}

.document:first-child {
	margin-left: 0;
}
.document:last-child {
	margin-right: 0;
}
.document__title {
	text-transform: uppercase;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	line-height: 1.2;
	font-size: 20px;
	color: #fff;
}
/* documents */

/* work with us */
.work-with-us {
	background-color: #fff;
}
.work-with-us-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.partner {
	width: 100%;
	height: 135px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 60px;
}
.discount-form--delivery {
	background-color: #b4e7fb;
}
.form-title {
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	font-weight: 700;
	line-height: 1.2;
	font-size: 30px;
	color: #2b387f;
	margin-bottom: 15px;
}
.form-sub {
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	font-weight: 400;
	line-height: 1.2;
	font-size: 24px;
	color: #000;
	margin-bottom: 25px;
}
/* work with us */

/* reviews */
.reviews {
	background-image: url(../img/reviews-bg.png);
	background-position: 50% 50%;
	background-size: cover;
}
.reviews-box {
	padding: 20px;
	border: 1px solid #fff;
	margin: 0 auto;
	max-width: 540px;
	min-height: 306px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.reviews-box__avatar {
	margin: 0 auto 10px;
	width: 95px;
	height: 95px;
}
.reviews-box__avatar img {
	width: 95px;
	height: 86px;
	border-radius: 20px 0px 20px 0px;
}
.reviews-box__name {
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	font-weight: 400;
	line-height: 1.2;
	font-size: 22px;
	color: #2b387f;
	margin-bottom: 15px;
}
.reviews-box__comment {
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
	text-align: center;
	font-weight: 400;
	line-height: 1.2;
	font-size: 18px;
	color: #fff;
	min-height: 65px;
	margin-bottom: 15px;
}
.reviews-box__social {
	display: flex;
	justify-content: center;
	align-items: center;
}
.social-item {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid #fff;
	display: flex;
	margin-right: 15px;
}
.social-item:last-child {
	margin-right: 0;
}
.owl-carousel .owl-item .social-item img {
	width: auto;
	margin: auto;
}
.owl-carousel .owl-nav {
	position: absolute;
	top: calc(50% - 21px);

	left: -2.5%;


	
	display: flex;
	justify-content: space-between;
	width: 105%;
	z-index: -1;
}
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
	width: 30px;
	height: 42px;
	opacity: 0.7;
	transition: .3s;
}
.owl-carousel .owl-nav .owl-next:hover,
.owl-carousel .owl-nav .owl-prev:hover {
	opacity: 1;
}
.owl-carousel .owl-nav .owl-next {
	transform: rotate(180deg);
}
.owl-carousel .owl-nav .owl-prev:before {
	content: "";
	position: relative;
	top: 10px;
	display: block;
	width: 30px;
	height: 2px;
	background-color: #fff;
	transform: rotate(-45deg);
}
.owl-carousel .owl-nav .owl-prev:after {
	content: "";
	position: relative;
	top: 28px;
	display: block;
	width: 30px;
	height: 2px;
	background-color: #fff;
	transform: rotate(45deg);
}
.owl-carousel .owl-nav .owl-next:before {
	content: "";
	position: relative;
	top: 10px;
	display: block;
	width: 30px;
	height: 2px;
	background-color: #fff;
	transform: rotate(-45deg);
}
.owl-carousel .owl-nav .owl-next:after {
	content: "";
	position: relative;
	top: 28px;
	display: block;
	width: 30px;
	height: 2px;
	background-color: #fff;
	transform: rotate(45deg);
}
/* reviews */

/* question */
.question {
	position: relative;
	background-image: url(../img/question-bg.png);
	background-position: 50% 50%;
	background-size: cover;

	padding: 0px;
}
.question h3 {
	text-align: left;
	margin-bottom: 25px;
}
.question-girl {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 510px;
}
.question-content {
	padding: 70px 0px;
	max-width: 535px;
}
.question-content__sub {
	font-family: 'PT Sans', sans-serif;
	text-align: left;
	font-weight: 400;
	line-height: 1.2;
	font-size: 30px;
	color: #000;
	margin-bottom: 40px;
}
.question-form {
	max-width: 330px;
}
.question-form input {
	width: 100%;
}
.question-form input[type="text"] {
	height: 40px;
	margin-bottom: 30px;
	box-shadow: inset 1px 1.732px 5px 0px rgba(0, 0, 0, 0.3);
	background-color: #fff;
	border-radius: 5px;	
	border-style: solid;
 	border-width: 1px;
	border-color: rgb(204, 204, 204);
	outline: transparent;
	padding-left: 10px;
	padding-right: 10px;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
}
/* question */

/* footer */
.bottom-line {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 25px;
}
a.bottom-line__politic,
a.bottom-line__develop-link {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #666666;
}
/* footer */

/* modal */
.modal_div {
	flex-direction: column;
	justify-content: center;
	max-width: 448px; 
	height: 244px;
	background: #fff;
	padding: 30px 20px;
	border: 1px solid #2b387f;
	border-radius: 7px;
	box-shadow: 1px 1.732px 3px 0px rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
    left: 0;
    right: 0;
	margin: -122px auto;
	display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
}
.modal_div .modal_close {
	border-style: solid;
  	border-width: 1px;
  	border-color: rgb(255, 112, 30);
	width: 24px;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	transition: .3s;
}
.modal_div .modal_close:hover {
	width: 24px;
	height: 24px;
	opacity: 0.6;
}
#overlay {
	z-index:3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color:#000; /* чернaя */
	opacity:0.8; /* нo немнoгo прoзрaчнa */
	-moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
	filter:alpha(opacity=80);
	width:100%; 
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0;
	left:0;
	cursor:pointer;
	display:none; /* в oбычнoм сoстoянии её нет) */
}
.modall-title {
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	font-size: 25px;
	font-weight: 400;
	color: #2b387f;
	margin-bottom: 0px;
}
.modall-sub {
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: #2b387f;
}
.modal-form input {
	width: 100%;
}
.modal-form {
	margin-top: 16px;
}
.modal-form input[type="text"] {
	height: 40px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 1px solid #666;
	outline: inherit;
	padding-left: 20px;
	padding-right: 25px;
}
/* modal */