footer.footer
    .container
        .row
            .col-lg-3.col-md-6
                .footer__section
                    nav.footer__nav
                        li
                            a(href="") Продукция
                        li
                            a(href="") Окомпании
                        li
                            a(href="") Спецпредложения
                        li
                            a(href="") Цены
                        li
                            a(href="") Новости
                        li
                            a(href="") Контакты
            .col-lg-3.col-md-6
                .footer__section
                    .footerTitle Свяжитесь с нами
                    .footerPhone
                        a.footerPhone__number(href="tel:+74956649890") 
                            <i class="fas fa-phone"></i>
                            span +7 (495) 664-98-90
                        a.footerPhone__callback.open_modal(href="#modal1") Заказать звонок
            .col-lg-3.col-md-6
                .footer__section
                    .footerTitle Информация
                    ul.footerInfo
                        li ООО "Факалов"
                        li ИНН: 5027239902
                        li КПП: 502701001
                        li ОГРН: 1165027053773
            .col-lg-3.col-md-6
                .footer__section
                    .footerTitle Мы в соцсетях
                    .footerSocial
                        a.footerSocial__link(href="")
                            <i class="fab fa-vk"></i>
                        a.footerSocial__link(href="")
                            <i class="fab fa-skype"></i>
                        a.footerSocial__link(href="")
                            <i class="fab fa-facebook-f"></i>
                    .footerTitle Способы оплаты
                    .footerPay
                        a.footerPay__link(href="")
                            <i class="fab fa-cc-visa"></i>
                        a.footerPay__link(href="")
                            <i class="fab fa-cc-mastercard"></i>