header.header
    //- top line
    .headerTop
        .container
            .headerTop__inner
                .headerTop__left
                    //- logo
                    a.headerTop__logo(href="")
                        img(src="img/logo.png", alt="") 
                    //- title
                    .headerTop__title Автономная система канализации <br>для дома или дачи
                .headerTop__right
                    //- phone
                    .headerPhone
                        a.headerPhone__link(href="tel:+74956649890")
                            .headerPhone__icon
                                <i class="fas fa-phone"></i>
                            span +7 (495) 664-98-90
                        .headerPhone__info Режим работы <b>c 9:00 до 18:00</b>
    //- main nav
    nav.mainNav
        .container
            a.mobileButton
                //- <i class="fas fa-bars"></i>
                span меню сайта
            .mainNav__inner
                li
                    a(href="") Продукция
                li
                    a(href="") О нас
                li
                    a(href="") Цены
                li
                    a(href="") Подбор Модели
                li
                    a(href="") Доставка
                li
                    a(href="") Монтаж
                li
                    a(href="") Спецпредложение
                li
                    a(href="") Новости
                li
                    a(href="") Контакты