.button
    padding: 7px 46px;
    border-radius: 4px;
    cursor pointer
    border: none
    font-family: 'Oswald', sans-serif;
    font-size rem(18px)
    font-weight 400
    color: #fff
    transition: .3s
.button.button--black
    background-color #303030
    &:hover
        background-color #595959
    span 
        position: relative
        top: -2px
.button.button--red
    padding: 12px 45px;
    background-color #b8311b
    max-width 286px
    width: 100%
    &:hover
        background-color #ee4327
.mobile-mnu
    background transparent
    border: none
.close
    position: absolute
    top: 18px
    right 18px
    background transparent
    border: none