.personal-page .footer__recommendation
    display: none;
.personal-page .way-nav
    border-bottom 1px solid #eaeaea
.personal-section
    padding: 40px 0px 60px
.personal-content__title
    font-weight 400
    font-size rem(24px)
    color: #191919
    margin-bottom 25px


// .personal-navigation
.personal-sidebar
    padding-right 15px
.personal-navigation
    margin-bottom 50px
    li
        display: flex
        justify-content flex-start
        align-items flex-start
        font-size rem(14px)
        margin: 13px 0px
        a
            line-height rem(18px)
            font-weight 400
            color: #52576a
            &:hover
                text-decoration underline
        .personal-navigation__icon
            width 15px
            display: flex
            margin-right 10px
            svg
                margin: auto
                color: #223869
// .personal-navigation


// .personal-order
.personal-order
    background #f1f2f3
    box-shadow: 0px 6px 6px 0px rgba(211, 211, 211, 0.75);
    margin-bottom 20px
    .personal-order__title
        display: flex
        flex-wrap: wrap
        justify-content flex-start
        align-items center
        padding: 10px 25px
        border-bottom 1px solid #fff
        .title
            font-size rem(14px)
            text-transform uppercase
            font-weight 700
            color: #191919
            margin-right rem(40px)
            padding: 5px 0
        .info
            padding: 5px 0
            font-weight 400
            font-size rem(14px)
            color: #e53027
    .personal-order__info
        display: flex
        justify-content flex-start
        align-items center
        flex-wrap: wrap
        padding: 15px 25px 0px
        .title
            font-size rem(14px)
            font-weight 700
            text-transform uppercase
            color: #191919
            margin-right rem(30px)
        .info
            font-weight 400
            font-size rem(14px)
            color: #52576a
            margin-right rem(30px)
        .personal-order__departure
            width 100%
            padding: 15px 0px
        .personal-order__number
            padding: 15px 0px
        .personal-order__quantity
            padding: 15px 0px
        .personal-order__price
            padding: 15px 0px
    .personal-order__option
        display: flex
        flex-wrap: wrap
        justify-content flex-start
        align-items center
        padding: 10px 25px 15px
        .personal-order__option-item
            display: flex
            justify-content flex-start
            align-items center
            margin-right rem(30px)
            font-size rem(14px)
            font-weight 400
            color: #5b9de8
            padding 5px 0
            img 
                margin-right 10px
            &:hover
                text-decoration underline
// .personal-order



@media only screen and (max-width : 576px)
    .personal-sidebar
        padding-right 0px