footer
  flex 0 0 auto
  background #f1f2f3


//.footer__recommendation
.footer__recommendation
  background #fff
  padding 70px 0 90px
  .title
    text-transform uppercase
    text-align center
    font-size: rem(24px)
    font-weight 700
    color #191919
    margin-bottom 60px
//.footer__recommendation


// .recommedation-slider 
.recommedation-slider 
  position relative
.recommedation-slider__item 
  display: flex
  justify-content center
  align-items center
  min-height: 188px
  .owl-carousel .owl-item img 
    width: auto!important
.recommedation-slider .owl-nav
  position absolute
  top: calc( 50% - 30px)
  left: -13.2px
  width calc( 100% + 26.4px)
  display: flex
  justify-content space-between
  font-size 44px
  z-index -1
.recommedation-slider .owl-dots
  display: none
// .recommedation-slider 


// .footer__links
.footer__links
  padding 50px 0 25px
  border-bottom 1px solid #eaeaea
.footer__links a
  display: inline-block
  font-size: rem(24px)
  font-weight 300
  color: #515669
  margin-bottom 25px
.footer__links a:last-child
  margin-right 0
// .footer__links


.footer__nav-wrap
  padding 40px 0 0


// .footer__contacts
.footer__contacts
  margin-bottom 40px
.footer__contacts li a 
  font-size rem(18px)
  line-height rem(30px)
  font-weight 300
  color #515669
// .footer__contacts


// .footer__nav
.footer__nav
  margin-bottom 40px
.footer__nav li:before
  content ">"
  font-size rem(14px)
  margin-right 15px
  color #515669
.footer__nav li a
  font-size rem(18px)
  line-height rem(36px)
  font-weight 300
  color #515669
.footer__nav li a:hover 
  color #000
  text-decoration underline
// .footer__nav


// .footer__event
.footer__event
  margin-bottom 40px
.footer__event li a
  font-size rem(18px)
  line-height rem(36px)
  font-weight 300
  color #515669
.footer__event li a:hover
  color: #000000
  text-decoration underline
// .footer__event


// .footer__social
.footer__social
  margin-bottom 40px
  .title
    font-weight 700
    font-size rem(18px)
    color #515669
    margin-bottom rem(37px)
.footer__social a 
  display inline-block
  size 28px
  border-radius: 50%
  background-color #bbb
  margin-right 5px
  background url(../img/general/social-icons.png)
  transition: .3s
.footer__social a:last-child 
  margin-right 0
.footer__social a:hover 
  opacity 0.7
.footer__social a.vk
  background-position 0px 0px
.footer__social a.inst
  background-position -30px 0px
.footer__social a.fb
  background-position -63px 0px
.footer__social a.fl
  background-position -97px 0px
.footer__social a.yt
  background-position -131px 0px
// .footer__social


// .footer__payments
.footer__payments
  margin-bottom 40px
  .title
    color #515669
    font-weight 700
    font-size rem(18px)
    margin-bottom rem(35px)
.footer__payments a 
  margin-right 20px
  transition: .3s
.footer__payments a:hover 
  opacity 0.7
.footer__payments a:last-child 
  margin-right 0
// .footer__payments