extends ../layout/main

block variables
	- var title = 'FAQ'
	- var pageClass = 'faq-page'

block content
	//- header
	header.header
		.container
			.header-inner
				a.header__logo Domain.ru
				nav.header__nav
					li
						a(href="index.html") Главная
					li
						a(href="rules.html") Правила
					li.active
						a(href="faq.html") Вопрос-Ответ
					li
						a(href="") API
					li
						a(href="signup.html") Регистрация
				button.header__btn
					<i class="fas fa-bars"></i>
	
	//- content
	section.content
		.container
			section.faq
				h1 Вопрос-Ответ
				.faq__text <b>Цели и задачи проекта. Ответственность?</b> <br>Наша главная задача – свести к минимуму все возможные риски и сделать взаимодействие с нашим сервисом безопасным и эффективным, однако мы не несём ответственности за ваши аккаунты в соцсетях, ваш бизнес и результаты. <br><br><b>Ценовая политика и сроки выполнения?</b> <br>Цены на наши услуги не являются фиксированными – они зависят от условий которые диктует рынок и могут меняться как в большую, так и в меньшую сторону. <br><br><b>Гарантии?</b> <br>Любая накрутка имеет определённый процент списаний, но мы запускаем в таких случаях докрутку (для клиентов заказавших услугу с гарантией). В остальных случаях делается с запасом рассчитанным на средний коэффициент списаний. <br><br><b>Процесс накрутки?</b> <br>Во время накрутки (с момента ее начала до окончания) ваш аккаунт должен быть открытым, а логин/ник/адрес страницы не должен меняться! В противном случае мы не сможем осуществить услуги. Средства в таком случае не возвращаются.


				
				
	//- footer
	footer.footer
		.container
			.footer-inner
				nav.footer__nav
					li
						a(href="") Главная
					li
						a(href="") Правила
					li
						a(href="") Вопрос-Ответ
					li
						a(href="") API
					li
						a(href="") Регистрация
				.footer__copyright Все права защищены © 2018