extends ../layout/main

block variables
	- var title = 'Правила сервиса'
	- var pageClass = 'rules-page'

block content
	//- header
	header.header
		.container
			.header-inner
				a.header__logo Domain.ru
				nav.header__nav
					li
						a(href="index.html") Главная
					li.active
						a(href="rules.html") Правила
					li
						a(href="faq.html") Вопрос-Ответ
					li
						a(href="") API
					li
						a(href="signup.html") Регистрация
				button.header__btn
					<i class="fas fa-bars"></i>
	
	//- content
	section.content
		.container
			section.rules
				h1 	Правила сервиса DOMAIN.RU
				.rules__text <b>1. Цели и задачи проекта. Ответственность.</b><br> 1.1 Наша главная задача – свести к минимуму все возможные риски и сделать взаимодействие с нашим сервисом безопасным и эффективным, однако мы не несём ответственности за ваши аккаунты в соцсетях, ваш бизнес и результаты. <br>1.2 Вместе с обеспечением безопасности, мы применяем меры по обеспечению конфиденциальности личных данных, но в случае непредвиденной утечки информации или передачи Вами данных третьим лицам ответственности не несем. <br><br><b>2. Ценовая политика и сроки выполнения. </b><br>2.1 Цены на наши услуги не являются фиксированными – они зависят от условий которые диктует рынок и могут меняться как в большую, так и в меньшую сторону. <br>2.2 Мы со всей ответственностью подходим к выполнению своих обязательств, но сроки указанные в услугах не являются непреложными в 100 % ситуаций. <br><br><b>3. Гарантии.</b><br>3.1 Любая накрутка имеет определённый процент списаний, но мы запускаем в таких случаях докрутку (для клиентов заказавших услугу с гарантией). В остальных случаях делается с запасом рассчитанным на средний коэффициент списаний. <br>3.2 На аккаунты количество подписчиков которых превышает 100 тыс., гарантия не распространяется, т.к. невозможно отследить какие именно подписчики списываются. <br>3.3 Мы не даём гарантии что 100% аккаунтов во всех опциях используемых для накрутки имеют аватары, описание, регулярные публикации и являются активными. <br>3.4 Мы гарантируем что выбранная вами услуга будет оказана в полном объёме в соответствии с описанием и сроками за исключением ситуаций описанных в пунктах 2.2, 3.3. <br><br><b>4. Процесс накрутки.</b> <br>4.1 Во время накрутки (с момента ее начала до окончания) ваш аккаунт должен быть открытым, а логин/ник/адрес страницы не должен меняться! В противном случае мы не сможем осуществить услуги. Средства в таком случае не возвращаются. <br>4.2 Запрещается одновременное включение нескольких однотипных заданий, или же накрутка с помощью разных сайтов/сервисов, в некоторых случаях по технологическим особенностям процесса накрутки это может повлечь за собой оказание услуги не в полном объёме. Денежные средства на личный счёт клиента на сайте в этом случае возвращены быть не могут. <br><br><b>5 Технические особенности.</b> <br>5.1 Время от времени сайт может приостанавливать оказание услуг, это связано с улучшением вопросов безопасности и улучшения сервиса. <br><br><b>6. Работа с клиентами.</b> <br>6.1 В случае технических неполадок или вопросов по работе сервиса вы можете отправить свой вопрос в разделе «Поддержка» и получить ответ в течение 24 часов с момента подачи заявки. <br><br><b>7. Отмена заказов.</b> <br>7.1 Запуск и осуществление заказа является необратимым процессом для любого вида накрутки! <br>7.2 Отмена заказов невозможна, ни при каких обстоятельствах! Если была допущена ошибка, заказ будет отменен автоматически в течение 72 часов. <br>7.3 Мы вправе отказать вам в оказании услуг в случае размещения вами запрещенных материалов (пропагандирующих экстремизм, педофилию, терроризм и д.р. запрещенные УК РФ материалы) или по любым другим причинам на усмотрение администрации сервиса. <br><br><b>8. Возврат средств.</b> <br>8.1 Возврат (вывод с сайта) денежных средств клиенту возможен лишь в случае прекращения работы сервиса. <br><br><b>9. Блокировка.</b> <br>9.1 Попытка взлома сайта, накрутки средств, обмана или оскорбительного общения с администрацией сервиса считается нарушением правил и влечет за собой перманентную блокировку аккаунта без возможности возврата средств. <br><br><b>Оферта</b> <br>Использование услуг, предоставляемых DOMAIN.RU, устанавливает согласие с этими условиями. Регистрируясь и используя наши услуги, вы соглашаетесь с тем, что вы прочитали и полностью приняли правила DOMAIN.RU. Также используя сервис вы соглашаетесь с тем что мы не несём ответственность за любые последствия для ваших ресурсов. <br><br><b>Размещая заказ с помощью DOMAIN.RU вы автоматически принимаете все приведенные выше условия. </b><br>Мы оставляем за собой право изменять эти условия обслуживания без предварительного уведомления. Используя сервис Вы обязуетесь сами ознакамливаться с условиями прежде чем сделаете заказ. В противном случае претензии не принимаются. <br><br>DOMAIN.RU не гарантирует время доставки для любых услуг. Мы прописываем примерное время доставки, но время может быть увеличено. Мы не отменяем и не возвращаем заказы, если вы считаете, что они слишком долго выполняются. <br><br>В случаи если мы, действительно, не можем выполнить заказ, мы оставляем за собой право изменить тип услуги или вернуть средства на баланс пользователя. <br>Мы не делаем возврат средств на платежные системы, с помощью которых вы вносили депозит. <br>В случаи если мы не можем выполнить заказ, средства возвращаются на ваш баланс на DOMAIN.RU


	//- footer
	footer.footer
		.container
			.footer-inner
				nav.footer__nav
					li
						a(href="") Главная
					li
						a(href="") Правила
					li
						a(href="") Вопрос-Ответ
					li
						a(href="") API
					li
						a(href="") Регистрация
				.footer__copyright Все права защищены © 2018